# ---- Python ----
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
staticfiles/
media/

# ---- Node / React ----
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---- OS Files ----
.DS_Store
Thumbs.db

# ---- Env & IDE ----
.env
.idea/
.vscode/
# Ignore Chrome profile data
backend/chrome_profile/
deploy.sh/
deploy.sh
*.mdb


# Sensitive or large files
transparency/utils/mdb_exports.tar.gz
test_claude.py
transparency_backup.dump
transparency/utils/mdb_exports.tar.gz
.github/
Analyser/