transparency/utils/mdb_exports/
transparency/utils/mdb_exports.tar.gz


# Ignore documentation and data files

soi_urls.json

# Ignore specific Python scripts
transparency/claude_tasks.py
transparency/management/commands/discover_and_scrape_soi.py
transparency/management/commands/scrape_soi.py
transparency/management/commands/scrape_soi_selenium.py
transparency/views_claude.py
transparency/management/commands/process_soi_csv.py

# Ignore templates directory
transparency/templates/

playwright_debug.loglocal_scraper.py
soi_candidates.csv
local_scraper.py
backend/scraper_service.log
scraper_service.log/

